{:melakarthas
 {:kanakangi	         [:s :r1 :g1 :m1 :p :d1 :n1 :s.]
  :ratnangi	         [:s :r1 :g1 :m1 :p :d1 :n2 :s.]
  :ganamurti	         [:s :r1 :g1 :m1 :p :d1 :n3 :s.]
  :vanaspati	         [:s :r1 :g1 :m1 :p :d2 :n2 :s.]
  :manavati	         [:s :r1 :g1 :m1 :p :d2 :n3 :s.]
  :tanarupi	         [:s :r1 :g1 :m1 :p :d3 :n3 :s.]
  :senavati	         [:s :r1 :g2 :m1 :p :d1 :n1 :s.]
  :hanumatodi	         [:s :r1 :g2 :m1 :p :d1 :n2 :s.]
  :dhenuka	         [:s :r1 :g2 :m1 :p :d1 :n3 :s.]
  :natakapriya	         [:s :r1 :g2 :m1 :p :d2 :n2 :s.]
  :kokilapriya	         [:s :r1 :g2 :m1 :p :d2 :n3 :s.]
  :rupavati	         [:s :r1 :g2 :m1 :p :d3 :n3 :s.]
  :gayakapriya	         [:s :r1 :g3 :m1 :p :d1 :n1 :s.]
  :vakulabharanam	 [:s :r1 :g3 :m1 :p :d1 :n2 :s.]
  :mayamalavagowla	 [:s :r1 :g3 :m1 :p :d1 :n3 :s.]
  :chakravakam	         [:s :r1 :g3 :m1 :p :d2 :n2 :s.]
  :suryakantam	         [:s :r1 :g3 :m1 :p :d2 :n3 :s.]
  :hatakambari	         [:s :r1 :g3 :m1 :p :d3 :n3 :s.]
  :jhankaradhwani	 [:s :r2 :g2 :m1 :p :d1 :n1 :s.]
  :natabhairavi	         [:s :r2 :g2 :m1 :p :d1 :n2 :s.]
  :keeravani	         [:s :r2 :g2 :m1 :p :d1 :n3 :s.]
  :kharaharapriya	 [:s :r2 :g2 :m1 :p :d2 :n2 :s.]
  :gourimanohari	 [:s :r2 :g2 :m1 :p :d2 :n3 :s.]
  :varunapriya	         [:s :r2 :g2 :m1 :p :d3 :n3 :s.]
  :mararanjani	         [:s :r2 :g3 :m1 :p :d1 :n1 :s.]
  :charukesi	         [:s :r2 :g3 :m1 :p :d1 :n2 :s.]
  :sarasangi	         [:s :r2 :g3 :m1 :p :d1 :n3 :s.]
  :harikambhoji	         [:s :r2 :g3 :m1 :p :d2 :n2 :s.]
  :dheerasankarabharanam [:s :r2 :g3 :m1 :p :d2 :n3 :s.]
  :naganandini	         [:s :r2 :g3 :m1 :p :d3 :n3 :s.]
  :yagapriya	         [:s :r3 :g3 :m1 :p :d1 :n1 :s.]
  :ragavardhini	         [:s :r3 :g3 :m1 :p :d1 :n2 :s.]
  :gangeyabhushani	 [:s :r3 :g3 :m1 :p :d1 :n3 :s.]
  :vagadheeswari	 [:s :r3 :g3 :m1 :p :d2 :n2 :s.]
  :shulini    	         [:s :r3 :g3 :m1 :p :d2 :n3 :s.]
  :chalanata	         [:s :r3 :g3 :m1 :p :d3 :n3 :s.]
  :salagam	         [:s :r1 :g1 :m2 :p :d1 :n1 :s.]
  :jalarnavam	         [:s :r1 :g1 :m2 :p :d1 :n2 :s.]
  :jhalavarali	         [:s :r1 :g1 :m2 :p :d1 :n3 :s.]
  :navaneetam	         [:s :r1 :g1 :m2 :p :d2 :n2 :s.]
  :pavani	         [:s :r1 :g1 :m2 :p :d2 :n3 :s.]
  :raghupriya	         [:s :r1 :g1 :m2 :p :d3 :n3 :s.]
  :gavambhodi	         [:s :r1 :g2 :m2 :p :d1 :n1 :s.]
  :bhavapriya	         [:s :r1 :g2 :m2 :p :d1 :n2 :s.]
  :shubhapantuvarali	 [:s :r1 :g2 :m2 :p :d1 :n3 :s.]
  :shadvidamargini	 [:s :r1 :g2 :m2 :p :d2 :n2 :s.]
  :suvarnangi	         [:s :r1 :g2 :m2 :p :d2 :n3 :s.]
  :divyamani	         [:s :r1 :g2 :m2 :p :d3 :n3 :s.]
  :dhavalambari	         [:s :r1 :g3 :m2 :p :d1 :n1 :s.]
  :namanarayani	         [:s :r1 :g3 :m2 :p :d1 :n2 :s.]
  :kamavardani	         [:s :r1 :g3 :m2 :p :d1 :n3 :s.]
  :ramapriya	         [:s :r1 :g3 :m2 :p :d2 :n2 :s.]
  :gamanashrama	         [:s :r1 :g3 :m2 :p :d2 :n3 :s.]
  :vishwambari	         [:s :r1 :g3 :m2 :p :d3 :n3 :s.]
  :shamalangi	         [:s :r2 :g2 :m2 :p :d1 :n1 :s.]
  :shanmukhapriya	 [:s :r2 :g2 :m2 :p :d1 :n2 :s.]
  :simhendramadhyamam	 [:s :r2 :g2 :m2 :p :d1 :n3 :s.]
  :hemavati	         [:s :r2 :g2 :m2 :p :d2 :n2 :s.]
  :dharmavati	         [:s :r2 :g2 :m2 :p :d2 :n3 :s.]
  :neetimati	         [:s :r2 :g2 :m2 :p :d3 :n3 :s.]
  :kantamani	         [:s :r2 :g3 :m2 :p :d1 :n1 :s.]
  :rishabhapriya	 [:s :r2 :g3 :m2 :p :d1 :n2 :s.]
  :latangi	         [:s :r2 :g3 :m2 :p :d1 :n3 :s.]
  :vachaspati	         [:s :r2 :g3 :m2 :p :d2 :n2 :s.]
  :mechakalyani	         [:s :r2 :g3 :m2 :p :d2 :n3 :s.]
  :chitrambari	         [:s :r2 :g3 :m2 :p :d3 :n3 :s.]
  :sucharitra	         [:s :r3 :g3 :m2 :p :d1 :n1 :s.]
  :jyotiswarupini	 [:s :r3 :g3 :m2 :p :d1 :n2 :s.]
  :dhatuvardani	         [:s :r3 :g3 :m2 :p :d1 :n3 :s.]
  :nasikabhushani	 [:s :r3 :g3 :m2 :p :d2 :n2 :s.]
  :kosalam	         [:s :r3 :g3 :m2 :p :d2 :n3 :s.]
  :rasikapriya	         [:s :r3 :g3 :m2 :p :d3 :n3 :s.]}}
