{:melakarthas
 {:kanakangi	     [:s :r1 :g1 :m1 :p :d1 :n1 :s.]
  :ratnangi	     [:s :r1 :g1 :m1 :p :d1 :n2 :s.]
  :ganamurti	     [:s :r1 :g1 :m1 :p :d1 :n3 :s.]
  :vanaspati	     [:s :r1 :g1 :m1 :p :d2 :n2 :s.]
  :manavati	     [:s :r1 :g1 :m1 :p :d2 :n3 :s.]
  :tanarupi	     [:s :r1 :g1 :m1 :p :d3 :n3 :s.]
  :senavati	     [:s :r1 :g2 :m1 :p :d1 :n1 :s.]
  :hanumatodi	     [:s :r1 :g2 :m1 :p :d1 :n2 :s.]
  :dhenuka	     [:s :r1 :g2 :m1 :p :d1 :n3 :s.]
  :natakapriya	     [:s :r1 :g2 :m1 :p :d2 :n2 :s.]
  :kokilapriya	     [:s :r1 :g2 :m1 :p :d2 :n3 :s.]
  :rupavati	     [:s :r1 :g2 :m1 :p :d3 :n3 :s.]
  :gayakapriya	     [:s :r1 :g3 :m1 :p :d1 :n1 :s.]
  :vakulabharana     [:s :r1 :g3 :m1 :p :d1 :n2 :s.]
  :mayamalavagowl    [:s :r1 :g3 :m1 :p :d1 :n3 :s.]
  :chakravakam	     [:s :r1 :g3 :m1 :p :d2 :n2 :s.]
  :suryakantam	     [:s :r1 :g3 :m1 :p :d2 :n3 :s.]
  :hatakambari	     [:s :r1 :g3 :m1 :p :d3 :n3 :s.]
  :jhankaradhwan     [:s :r2 :g2 :m1 :p :d1 :n1 :s.]
  :natabhairavi	     [:s :r2 :g2 :m1 :p :d1 :n2 :s.]
  :keeravani	     [:s :r2 :g2 :m1 :p :d1 :n3 :s.]
  :kharaharapriy     [:s :r2 :g2 :m1 :p :d2 :n2 :s.]
  :gourimanohar      [:s :r2 :g2 :m1 :p :d2 :n3 :s.]
  :varunapriya	     [:s :r2 :g2 :m1 :p :d3 :n3 :s.]
  :mararanjani	     [:s :r2 :g3 :m1 :p :d1 :n1 :s.]
  :charukesi	     [:s :r2 :g3 :m1 :p :d1 :n2 :s.]
  :sarasangi	     [:s :r2 :g3 :m1 :p :d1 :n3 :s.]
  :harikambhoji	     [:s :r2 :g3 :m1 :p :d2 :n2 :s.]
  :dheerasankarabh   [:s :r2 :g3 :m1 :p :d2 :n3 :s.]
  :naganandini	     [:s :r2 :g3 :m1 :p :d3 :n3 :s.]
  :yagapriya	     [:s :r3 :g3 :m1 :p :d1 :n1 :s.]
  :ragavardhini	     [:s :r3 :g3 :m1 :p :d1 :n2 :s.]
  :gangeyabhushan    [:s :r3 :g3 :m1 :p :d1 :n3 :s.]
  :vagadheeswar      [:s :r3 :g3 :m1 :p :d2 :n2 :s.]
  :shulini    	     [:s :r3 :g3 :m1 :p :d2 :n3 :s.]
  :chalanata	     [:s :r3 :g3 :m1 :p :d3 :n3 :s.]
  :salagam	     [:s :r1 :g1 :m2 :p :d1 :n1 :s.]
  :jalarnavam	     [:s :r1 :g1 :m2 :p :d1 :n2 :s.]
  :jhalavarali	     [:s :r1 :g1 :m2 :p :d1 :n3 :s.]
  :navaneetam	     [:s :r1 :g1 :m2 :p :d2 :n2 :s.]
  :pavani	     [:s :r1 :g1 :m2 :p :d2 :n3 :s.]
  :raghupriya	     [:s :r1 :g1 :m2 :p :d3 :n3 :s.]
  :gavambhodi	     [:s :r1 :g2 :m2 :p :d1 :n1 :s.]
  :bhavapriya	     [:s :r1 :g2 :m2 :p :d1 :n2 :s.]
  :shubhapantuvaral  [:s :r1 :g2 :m2 :p :d1 :n3 :s.]
  :shadvidamargin    [:s :r1 :g2 :m2 :p :d2 :n2 :s.]
  :suvarnangi	     [:s :r1 :g2 :m2 :p :d2 :n3 :s.]
  :divyamani	     [:s :r1 :g2 :m2 :p :d3 :n3 :s.]
  :dhavalambari	     [:s :r1 :g3 :m2 :p :d1 :n1 :s.]
  :namanarayani	     [:s :r1 :g3 :m2 :p :d1 :n2 :s.]
  :kamavardani	     [:s :r1 :g3 :m2 :p :d1 :n3 :s.]
  :ramapriya	     [:s :r1 :g3 :m2 :p :d2 :n2 :s.]
  :gamanashrama	     [:s :r1 :g3 :m2 :p :d2 :n3 :s.]
  :vishwambari	     [:s :r1 :g3 :m2 :p :d3 :n3 :s.]
  :shamalangi	     [:s :r2 :g2 :m2 :p :d1 :n1 :s.]
  :shanmukhapriy     [:s :r2 :g2 :m2 :p :d1 :n2 :s.]
  :simhendramadhyama [:s :r2 :g2 :m2 :p :d1 :n3 :s.]
  :hemavati	     [:s :r2 :g2 :m2 :p :d2 :n2 :s.]
  :dharmavati	     [:s :r2 :g2 :m2 :p :d2 :n3 :s.]
  :neetimati	     [:s :r2 :g2 :m2 :p :d3 :n3 :s.]
  :kantamani	     [:s :r2 :g3 :m2 :p :d1 :n1 :s.]
  :rishabhapriy      [:s :r2 :g3 :m2 :p :d1 :n2 :s.]
  :latangi	     [:s :r2 :g3 :m2 :p :d1 :n3 :s.]
  :vachaspati	     [:s :r2 :g3 :m2 :p :d2 :n2 :s.]
  :mechakalyani	     [:s :r2 :g3 :m2 :p :d2 :n3 :s.]
  :chitrambari	     [:s :r2 :g3 :m2 :p :d3 :n3 :s.]
  :sucharitra	     [:s :r3 :g3 :m2 :p :d1 :n1 :s.]
  :jyotiswarupin     [:s :r3 :g3 :m2 :p :d1 :n2 :s.]
  :dhatuvardani	     [:s :r3 :g3 :m2 :p :d1 :n3 :s.]
  :nasikabhushan     [:s :r3 :g3 :m2 :p :d2 :n2 :s.]
  :kosalam	     [:s :r3 :g3 :m2 :p :d2 :n3 :s.]
  :rasikapriya	     [:s :r3 :g3 :m2 :p :d3 :n3 :s.]}}
