{:melakarthas
 {:kanakangi	[:s :r1 :g1 :m1 :p :d1 :n1 :s2]
  :ratnangi	[:s :r1 :g1 :m1 :p :d1 :n2 :s2]
  :ganamurti	[:s :r1 :g1 :m1 :p :d1 :n3 :s2]
  :vanaspati	[:s :r1 :g1 :m1 :p :d2 :n2 :s2]
  :manavati	[:s :r1 :g1 :m1 :p :d2 :n3 :s2]
  :tanarupi	[:s :r1 :g1 :m1 :p :d3 :n3 :s2]
  :senavati	[:s :r1 :g2 :m1 :p :d1 :n1 :s2]
  :hanumatodi	[:s :r1 :g2 :m1 :p :d1 :n2 :s2]
  :dhenuka	[:s :r1 :g2 :m1 :p :d1 :n3 :s2]
  :natakapriya	[:s :r1 :g2 :m1 :p :d2 :n2 :s2]
  :kokilapriya	[:s :r1 :g2 :m1 :p :d2 :n3 :s2]
  :rupavati	[:s :r1 :g2 :m1 :p :d3 :n3 :s2]
  :gayakapriya	[:s :r1 :g3 :m1 :p :d1 :n1 :s2]
  :vakulabharanam	[:s :r1 :g3 :m1 :p :d1 :n2 :s2]
  :mayamalavagowla	[:s :r1 :g3 :m1 :p :d1 :n3 :s2]
  :chakravakam	[:s :r1 :g3 :m1 :p :d2 :n2 :s2]
  :suryakantam	[:s :r1 :g3 :m1 :p :d2 :n3 :s2]
  :hatakambari	[:s :r1 :g3 :m1 :p :d3 :n3 :s2]
  :jhankaradhwani	[:s :r2 :g2 :m1 :p :d1 :n1 :s2]
  :natabhairavi	[:s :r2 :g2 :m1 :p :d1 :n2 :s2]
  :keeravani	[:s :r2 :g2 :m1 :p :d1 :n3 :s2]
  :kharaharapriya	[:s :r2 :g2 :m1 :p :d2 :n2 :s2]
  :gourimanohari	[:s :r2 :g2 :m1 :p :d2 :n3 :s2]
  :varunapriya	[:s :r2 :g2 :m1 :p :d3 :n3 :s2]
  :mararanjani	[:s :r2 :g3 :m1 :p :d1 :n1 :s2]
  :charukesi	[:s :r2 :g3 :m1 :p :d1 :n2 :s2]
  :sarasangi	[:s :r2 :g3 :m1 :p :d1 :n3 :s2]
  :harikambhoji	[:s :r2 :g3 :m1 :p :d2 :n2 :s2]
  :dheerasankarabharanam	[:s :r2 :g3 :m1 :p :d2 :n3 :s2]
  :naganandini	[:s :r2 :g3 :m1 :p :d3 :n3 :s2]
  :yagapriya	[:s :r3 :g3 :m1 :p :d1 :n1 :s2]
  :ragavardhini	[:s :r3 :g3 :m1 :p :d1 :n2 :s2]
  :gangeyabhushani	[:s :r3 :g3 :m1 :p :d1 :n3 :s2]
  :vagadheeswari	[:s :r3 :g3 :m1 :p :d2 :n2 :s2]
  :shulini    	[:s :r3 :g3 :m1 :p :d2 :n3 :s2]
  :chalanata	[:s :r3 :g3 :m1 :p :d3 :n3 :s2]
  :salagam	        [:s :r1 :g1 :m2 :p :d1 :n1 :s2]
  :jalarnavam	[:s :r1 :g1 :m2 :p :d1 :n2 :s2]
  :jhalavarali	[:s :r1 :g1 :m2 :p :d1 :n3 :s2]
  :navaneetam	[:s :r1 :g1 :m2 :p :d2 :n2 :s2]
  :pavani	[:s :r1 :g1 :m2 :p :d2 :n3 :s2]
  :raghupriya	[:s :r1 :g1 :m2 :p :d3 :n3 :s2]
  :gavambhodi	[:s :r1 :g2 :m2 :p :d1 :n1 :s2]
  :bhavapriya	[:s :r1 :g2 :m2 :p :d1 :n2 :s2]
  :shubhapantuvarali	[:s :r1 :g2 :m2 :p :d1 :n3 :s2]
  :shadvidamargini	[:s :r1 :g2 :m2 :p :d2 :n2 :s2]
  :suvarnangi	[:s :r1 :g2 :m2 :p :d2 :n3 :s2]
  :divyamani	[:s :r1 :g2 :m2 :p :d3 :n3 :s2]
  :dhavalambari	[:s :r1 :g3 :m2 :p :d1 :n1 :s2]
  :namanarayani	[:s :r1 :g3 :m2 :p :d1 :n2 :s2]
  :kamavardani	[:s :r1 :g3 :m2 :p :d1 :n3 :s2]
  :ramapriya	[:s :r1 :g3 :m2 :p :d2 :n2 :s2]
  :gamanashrama	[:s :r1 :g3 :m2 :p :d2 :n3 :s2]
  :vishwambari	[:s :r1 :g3 :m2 :p :d3 :n3 :s2]
  :shamalangi	[:s :r2 :g2 :m2 :p :d1 :n1 :s2]
  :shanmukhapriya	[:s :r2 :g2 :m2 :p :d1 :n2 :s2]
  :simhendramadhyamam	[:s :r2 :g2 :m2 :p :d1 :n3 :s2]
  :hemavati	[:s :r2 :g2 :m2 :p :d2 :n2 :s2]
  :dharmavati	[:s :r2 :g2 :m2 :p :d2 :n3 :s2]
  :neetimati	[:s :r2 :g2 :m2 :p :d3 :n3 :s2]
  :kantamani	[:s :r2 :g3 :m2 :p :d1 :n1 :s2]
  :rishabhapriya	[:s :r2 :g3 :m2 :p :d1 :n2 :s2]
  :latangi	        [:s :r2 :g3 :m2 :p :d1 :n3 :s2]
  :vachaspati	[:s :r2 :g3 :m2 :p :d2 :n2 :s2]
  :mechakalyani	[:s :r2 :g3 :m2 :p :d2 :n3 :s2]
  :chitrambari	[:s :r2 :g3 :m2 :p :d3 :n3 :s2]
  :sucharitra	[:s :r3 :g3 :m2 :p :d1 :n1 :s2]
  :jyotiswarupini	[:s :r3 :g3 :m2 :p :d1 :n2 :s2]
  :dhatuvardani	[:s :r3 :g3 :m2 :p :d1 :n3 :s2]
  :nasikabhushani	[:s :r3 :g3 :m2 :p :d2 :n2 :s2]
  :kosalam	        [:s :r3 :g3 :m2 :p :d2 :n3 :s2]
  :rasikapriya	[:s :r3 :g3 :m2 :p :d3 :n3 :s2]}}
