{:Abheri "https://en.wikipedia.org/wiki/Abheri"
 :Abhogi "https://en.wikipedia.org/wiki/Abhogi"
 :Ahiri "https://en.wikipedia.org/wiki/Ahiri"
 :Amritavarshini "https://en.wikipedia.org/wiki/Amritavarshini"
 :Anandabhairavi "https://en.wikipedia.org/wiki/Anandabhairavi"
 :Andolika "https://en.wikipedia.org/wiki/Andolika"
 :Arabhi "https://en.wikipedia.org/wiki/Arabhi"
 :Asaveri "https://en.wikipedia.org/wiki/Asaveri"
 :Atana "https://en.wikipedia.org/wiki/Atana"
 :Bageshri "https://en.wikipedia.org/wiki/Bageshri"
 :Bahudari "https://en.wikipedia.org/wiki/Bahudari"
 :Bhairavi "https://en.wikipedia.org/wiki/Bhairavi_(Carnatic)"
 :Bhavapriya "https://en.wikipedia.org/wiki/Bhavapriya"
 :Bhupalam "https://en.wikipedia.org/wiki/Bhupalam"
 :Bilahari "https://en.wikipedia.org/wiki/Bilahari"
 :Bowli "https://en.wikipedia.org/wiki/Bowli"
 :Chakravakam "https://en.wikipedia.org/wiki/Chakravakam_(raga)"
 :Chalanata "https://en.wikipedia.org/wiki/Chalanata"
 :Charukesi "https://en.wikipedia.org/wiki/Charukesi"
 :Chitrambari "https://en.wikipedia.org/wiki/Chitrambari"
 :DarbariKanada "https://en.wikipedia.org/wiki/Darbari_Kanada"
 :Devagandhari "https://en.wikipedia.org/wiki/Devagandhari"
 :Dhanyasi "https://en.wikipedia.org/wiki/Dhanyasi"
 :Dharmavati "https://en.wikipedia.org/wiki/Dharmavati"
 :Dhatuvardhani "https://en.wikipedia.org/wiki/Dhatuvardhani"
 :Dhavalambari "https://en.wikipedia.org/wiki/Dhavalambari"
 :Dheerasankarabharanam "https://en.wikipedia.org/wiki/Dheerasankarabharanam"
 :Dhenuka "https://en.wikipedia.org/wiki/Dhenuka_(raga)"
 :Divyamani "https://en.wikipedia.org/wiki/Divyamani"
 :Gamanashrama "https://en.wikipedia.org/wiki/Gamanashrama"
 :Gambhiranata "https://en.wikipedia.org/wiki/Gambhiranata"
 :Ganamurti "https://en.wikipedia.org/wiki/Ganamurti"
 :Gangeyabhushani "https://en.wikipedia.org/wiki/Gangeyabhushani"
 :Garudadhvani "https://en.wikipedia.org/wiki/Garudadhvani"
 :Gaula "https://en.wikipedia.org/wiki/Gaula_(raga)"
 :Gavambhodi "https://en.wikipedia.org/wiki/Gavambhodi"
 :Gayakapriya "https://en.wikipedia.org/wiki/Gayakapriya"
 :Gourimanohari "https://en.wikipedia.org/wiki/Gourimanohari"
 :Grahabhedam "https://en.wikipedia.org/wiki/Graha_bhedam"
 :Hamsadhvani "https://en.wikipedia.org/wiki/Hamsadhvani"
 :Hamsanadam "https://en.wikipedia.org/wiki/Hamsanadam"
 :Hamsanandi "https://en.wikipedia.org/wiki/Hamsanandi"
 :Hanumatodi "https://en.wikipedia.org/wiki/Hanumatodi"
 :Harikambhoji "https://en.wikipedia.org/wiki/Harikambhoji"
 :Hatakambari "https://en.wikipedia.org/wiki/Hatakambari"
 :Hemavati "https://en.wikipedia.org/wiki/Hemavati_(raga)"
 :Hindolam "https://en.wikipedia.org/wiki/Hindolam"
 :Jalarnavam "https://en.wikipedia.org/wiki/Jalarnavam"
 :Janya "https://en.wikipedia.org/wiki/Janya"
 :Jhalavarali "https://en.wikipedia.org/wiki/Jhalavarali"
 :Jhankaradhvani "https://en.wikipedia.org/wiki/Jhankaradhvani"
 :Jyotiswarupini "https://en.wikipedia.org/wiki/Jyoti_swarupini"
 :Kalyanavasantam "https://en.wikipedia.org/wiki/Kalyanavasantam"
 :Kalyani "https://en.wikipedia.org/wiki/Kalyani_(raga)"
 :Kamavardani "https://en.wikipedia.org/wiki/Kamavardani"
 :Kambhoji "https://en.wikipedia.org/wiki/Kambhoji"
 :Kanakangi "https://en.wikipedia.org/wiki/Kanakangi"
 :Kantamani "https://en.wikipedia.org/wiki/Kantamani"
 :Kapi "https://en.wikipedia.org/wiki/Kapi_(raga)"
 :KarnatakaShuddhaSaveri "https://en.wikipedia.org/wiki/Karnataka_Shuddha_Saveri"
 :Kedaragaula "https://en.wikipedia.org/wiki/Kedaragaula"
 :Kedaram "https://en.wikipedia.org/wiki/Kedaram"
 :Keeravani "https://en.wikipedia.org/wiki/Keeravani"
 :Khamas "https://en.wikipedia.org/wiki/Khamas_(raga)"
 :Kharaharapriya "https://en.wikipedia.org/wiki/Kharaharapriya"
 :Kokilapriya "https://en.wikipedia.org/wiki/Kokilapriya"
 :Kosalam "https://en.wikipedia.org/wiki/Kosalam"
 :Latangi "https://en.wikipedia.org/wiki/Latangi"
 :Madhuvanti "https://en.wikipedia.org/wiki/Madhuvanti"
 :Madhyamavati "https://en.wikipedia.org/wiki/Madhyamavati"
 :Malahari "https://en.wikipedia.org/wiki/Malahari"
 :Malayamarutam "https://en.wikipedia.org/wiki/Malayamarutam"
 :Manavati "https://en.wikipedia.org/wiki/Manavati"
 :Mararanjani "https://en.wikipedia.org/wiki/Mararanjani"
 :Mayamalavagowla "https://en.wikipedia.org/wiki/Mayamalavagowla"
 :Melakarta "https://en.wikipedia.org/wiki/Melakarta"
 :Mohanakalyani "https://en.wikipedia.org/wiki/Mohanakalyani"
 :Mohanam "https://en.wikipedia.org/wiki/Mohanam"
 :Naganandini "https://en.wikipedia.org/wiki/Naganandini"
 :Nagasvaravali "https://en.wikipedia.org/wiki/Nagasvaravali"
 :Namanarayani "https://en.wikipedia.org/wiki/Namanarayani"
 :Nasikabhushani "https://en.wikipedia.org/wiki/Nasikabhushani"
 :Nata "https://en.wikipedia.org/wiki/Nata_(raga)"
 :Natabhairavi "https://en.wikipedia.org/wiki/Natabhairavi"
 :Natakapriya "https://en.wikipedia.org/wiki/Natakapriya"
 :Nattakurinji "https://en.wikipedia.org/wiki/Nattakurinji"
 :Navaneetam "https://en.wikipedia.org/wiki/Navaneetam"
 :Navarasakannada "https://en.wikipedia.org/wiki/Navarasa_kannada"
 :Neetimati "https://en.wikipedia.org/wiki/Neetimati"
 :Niroshta "https://en.wikipedia.org/wiki/Niroshta"
 :Patmanjiri "https://en.wikipedia.org/wiki/Patmanjiri"
 :Pavani "https://en.wikipedia.org/wiki/Pavani_(raga)"
 :Pharaju "https://en.wikipedia.org/wiki/Pharaju"
 :Ragavardhini "https://en.wikipedia.org/wiki/Ragavardhini"
 :Raghupriya "https://en.wikipedia.org/wiki/Raghupriya"
 :Ramapriya "https://en.wikipedia.org/wiki/Ramapriya"
 :Ranjani "https://en.wikipedia.org/wiki/Ranjani"
 :Rasikapriya "https://en.wikipedia.org/wiki/Rasikapriya"
 :Ratnangi "https://en.wikipedia.org/wiki/Ratnangi"
 :Reethigowla "https://en.wikipedia.org/wiki/Reethigowla"
 :Revagupti "https://en.wikipedia.org/wiki/Revagupti"
 :Revati "https://en.wikipedia.org/wiki/Revati_(raga)"
 :Rishabhapriya "https://en.wikipedia.org/wiki/Rishabhapriya"
 :Rupavati "https://en.wikipedia.org/wiki/Rupavati"
 :Sahana "https://en.wikipedia.org/wiki/Sahana_(raga)"
 :SalagaBhairavi "https://en.wikipedia.org/wiki/Salaga_Bhairavi"
 :Salagam "https://en.wikipedia.org/wiki/Salagam"
 :Sampurnaraga "https://en.wikipedia.org/wiki/Sampurna_raga"
 :Saramati "https://en.wikipedia.org/wiki/Saramati"
 :Sarasangi "https://en.wikipedia.org/wiki/Sarasangi"
 :Saveri "https://en.wikipedia.org/wiki/Saveri"
 :Senavati "https://en.wikipedia.org/wiki/Senavati"
 :Shadvidamargini "https://en.wikipedia.org/wiki/Shadvidamargini"
 :Shamalangi "https://en.wikipedia.org/wiki/Shamalangi"
 :Shanmukhapriya "https://en.wikipedia.org/wiki/Shanmukhapriya"
 :Shivaranjani "https://en.wikipedia.org/wiki/Shivaranjani"
 :Shreeragam "https://en.wikipedia.org/wiki/Shree_ragam"
 :Shreeranjani "https://en.wikipedia.org/wiki/Shree_ranjani"
 :Shubhapantuvarali "https://en.wikipedia.org/wiki/Shubhapantuvarali"
 :ShuddhaSaveri "https://en.wikipedia.org/wiki/Shuddha_Saveri"
 :Shulini "https://en.wikipedia.org/wiki/Shulini"
 :Simhendramadhyamam "https://en.wikipedia.org/wiki/Simhendramadhyamam"
 :SindhuBhairavi "https://en.wikipedia.org/wiki/Sindhu_Bhairavi"
 :Sucharitra "https://en.wikipedia.org/wiki/Sucharitra"
 :Sunadavinodini "https://en.wikipedia.org/wiki/Sunadavinodini"
 :Suryakantam "https://en.wikipedia.org/wiki/Suryakantam"
 :Suvarnangi "https://en.wikipedia.org/wiki/Suvarnangi"
 :Tanarupi "https://en.wikipedia.org/wiki/Tanarupi"
 :Udayaravichandrika "https://en.wikipedia.org/wiki/Udayaravichandrika"
 :Vachaspati "https://en.wikipedia.org/wiki/Vachaspati_(raga)"
 :Vagadheeswari "https://en.wikipedia.org/wiki/Vagadheeswari"
 :Vakulabharanam "https://en.wikipedia.org/wiki/Vakulabharanam"
 :Valaji "https://en.wikipedia.org/wiki/Valaji"
 :Vanaspati "https://en.wikipedia.org/wiki/Vanaspati_(raga)"
 :Varali "https://en.wikipedia.org/wiki/Varali"
 :Varunapriya "https://en.wikipedia.org/wiki/Varunapriya"
 :Vasantha "https://en.wikipedia.org/wiki/Vasantha_(raga)"
 :Vishwambari "https://en.wikipedia.org/wiki/Vishwambari"
 :Yadukulakamboji "https://en.wikipedia.org/wiki/Yadukulakamboji"
 :Yagapriya "https://en.wikipedia.org/wiki/Yagapriya"}
