body {
    margin: 40px auto;
    width: 90%;
    font-family: 'PT Serif', serif;
}

table {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    border-collapse: collapse; border-spacing: 0;
}

h1, h2, h3 {

    font-family: 'PT Sans', sans-serif;
}

td, th {
    text-align:left;
    border: 1px solid #CCC;
    height: 22px;
    padding: 0 20px 0;
} /* Make cells a bit taller */

th {
    font-weight: bold;
}

a {
    color: initial;
}

.mela {
    font-weight: bold;
    background: #F1F1F1;
}

.search-result {

}

.search-result h1 {
    font-size: 26px;
    margin-bottom: 0;
}

.ragam {
    background-color: #eee;
    padding: 2px 15px;
    margin: 20px 20px 0px 0px;
    width: 300px;
    display: inline-block;
    vertical-align: top;
}

.ragam-name {
    margin: 10px 0;
    font-size: 20px;
    font-family: 'PT Serif', serif;
}

.notes {
    font-size: 14px;
    margin: 8px;
}

.more-info {
    font-style: italic;
    margin: 6px 0;
}

.more-results {
    padding: 0;
    margin: 0;
}

.kritis {
    margin: 0;
}

.kriti {
    list-style-type: none;
    display: inline-block;
    width: 240px;
    vertical-align: top;
    margin: 24px 0 0;
}

.kriti-name {
    margin: 6px;
    font-size: 16px;
}

.composer {
    color: #999;
    font-size: 12px;
    margin: 0 6px;
}

@-ms-viewport{
  width: device-width;
}

.search-box {
    box-sizing: border-box;
    vertical-align: top;
    height: 30px;
    width: 240px;
    padding: 0 5px;
    font-size: 14px;
    font-family: 'PT Serif', serif;
}

.search-box:focus {
    outline-width: 0;
}

.submit-button {
    -webkit-appearance: none;
    box-sizing: border-box;
    vertical-align: top;
    height: 30px;
    background-color: #FFF;
    color: #666;
    border: solid #666 1px;
    margin: 0 5px;
    width: 60px;
    font-family: 'PT Serif', serif;
    font-size: 14px;
}